#####################################################################
#	Temperatures and Sensors
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Spider]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[thermistor chamber_temp]
temperature1: 25
resistance1: 100000
beta: 3950

[temperature_sensor chamber]
sensor_type: chamber_temp
sensor_pin: PC1
min_temp: 0
max_temp: 100
gcode_id: C